/* global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
  color: #131c27;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #5ac2f3;
}
/*Nav section with Hero*/
.main-head {
  background: #141a22;
  color: aliceblue;
  position:sticky;
  top: 0;
  z-index: 3;  
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}
.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(172, 168, 165, 0.9), transparent),
    url("images/img4.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(95, 95, 95, 0.5), transparent),
    url("images/img32.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: 50vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  
}
.locations-head {
  width: 90%;

  margin: auto;
}
.locations-head h2 {
  padding: 1 rem 0 rem;
 
}
.locations-head h3 {
  padding: 4rem 0rem;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
.moving-cloud-2 {
  top: 10%;
  opacity: 70%;
  animation: cloudAnimation 4s infinite alternate ease-in-out;
}


/*Benefits section*/
.benefits-header{
  background: #141a22;
  padding:3rem;
  min-height: 30vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:wheat;
  text-align: center;
}
.benefits-header h2 {
  color: wheat;

}
.benefits-header h3{
  padding: 1rem;
}
.cards{
  width: 90%;
  margin:auto;
  display:flex;
  min-height:70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background: #141a22;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 10px 20px 10px rgba(0,0,0,0.1),-10px -20px 20px rgba(0,0,0,0.1);
  text-align: center;
  color:white;
}
.card-icon{
  background:rgb(240, 231, 214);
}
.card img{
  max-width: 50%;
  margin:2rem;
}
.card h4, 
.card-icon{
  padding: 1rem;
}

#contact{
  min-height: 100vh;
  background: linear-gradient(rgba(95, 95, 95, 0.5), transparent),
  url(../images/img1.jpg);
  background-position: center;
  display:flex;
  align-items: center;
  justify-content:center;
}
.form-wrapper{
  background:rgba(19, 28, 39, 0.8);
  width:60%;
  color:white;
  border-radius: 20px;
}
.form-wrapper h2{
  color:white;
}
.form-head{
  text-align: center;
  padding:4rem;
}
.name-form,.email-form{
  padding:3rem;
  text-align: center;
}
.form-wrapper label{
  margin:0rem 3rem;
  font-size: 2.5rem;
}
.form-wrapper button{
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input{
  padding:1rem 3rem;
}

footer{
  color:white;
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper{
  display:flex;
  padding:2rem;
  width:90%;
  margin:auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5{
  flex: 1 1 40rem;
}
footer ul{
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

/*Media Query*/
@media screen and (max-width: 932px) {
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .cloud {
    pointer-events: none;
  }
  .locations-head h3 {
    background: rgba(129, 206, 250, 0.5);
  }
  footer{
    text-align: center;
  }
  footer ul{
    padding-top:2rem;
  }
 
}

@media screen and (max-width: 414px) {
  html {
    font-size: 65%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .moving-cloud-1,.moving-cloud-2{
    opacity: 0;
  }
  .form-wrapper{
    width: 100%;
  }

}
